<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Autor: <%= autor %></p>
    <a href="/"><button>Página index</button></a>
    <a href="/quizzes"><button>Página quizzes</button></a>
  </body>
</html>
