    <ul>
    <%for (var i=0; i<quizzes.length; i++ ){%>
      <li>
      <%=quizzes[i].question; %> : <%=quizzes[i].answer; %>
      </li>
    <%}%>
    </ul>
    <a href="/credits"><button>Página credits</button></a>
    <a href="/quizzes"><button>Página quizzes</button></a>
